@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@model Coop.Models.POCO.LoginModel
@*<h1><span class="caption-subject font-blue-sharp bold">@Text.ProgramName Login</span></h1>
    <p>Program that support Omni Channel for Telemarketing, Contact Center, Customer Service and summarize result as Real-time Dashboard and analytic reports </p>
    <div style="height:50px;"></div>*@
<!-- BEGIN LOGIN FORM -->
<!-- END REGISTRATION FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
@*<form class="forget-form" action="javascript:;" method="post">
        <h3 class="font-green">Forgot Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>*@
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN LOGIN FORM -->
<form class="loginform" action="/Account/Login" method="post">
    @Html.AntiForgeryToken()

    <h3><span class="form-title caption-subject bold">@Text.ProgramName Login</span></h3>
    @*<h3 class="form-title">Login to your account</h3>*@
    @Html.ValidationSummary("", new { @class = "alert alert-danger display-hide" })
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" id="txtUsername" />
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-actions">
        @*<label class="rememberme mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="remember" value="1" /> Remember me
                <span></span>
            </label>*@
        <button type="submit" class="btn green pull-right"> Login </button>
    </div>   
    <div class="forget-password">
        <h4>&nbsp;</h4>
        @*<h4>Forgot your password ?</h4>*@
        <p>&nbsp;&nbsp;</p>
        @*<p>
                no worries, click
                <a href="javascript:;" id="forget-password"> here </a> to reset your password.
            </p>*@
    </div>
    <div class="create-account">
        <p>&nbsp;&nbsp;</p>
        @*<p>
                Don't have an account yet ?&nbsp;
                <a href="javascript:;" id="register-btn"> Create an account </a>
            </p>*@
    </div>
</form>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="index.html" method="post">
    <h3>Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn red btn-outline">Back </button>
        <button type="submit" class="btn green pull-right"> Submit </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN REGISTRATION FORM -->
<!-- END REGISTRATION FORM -->

<script src="~/styles/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

<script src="~/styles/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>

<link href="~/styles/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
<link href="~/styles/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
<script src="~/styles/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="~/styles/global/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/styles/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
@*<script src="~/styles/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>*@
<script src="~/styles/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>

<script src="~/styles/global/scripts/app.min.js" type="text/javascript"></script>
<script src="~/styles/global/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/styles/global/scripts/validatepopup.js"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/styles/global/scripts/app.min.js" type="text/javascript"></script>

@section Scripts {
    <script type="text/javascript">
        var handleLogin = function () {
            $('.loginform').validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    var container = $(this).find("[data-valmsg-summary=true]"),
                                list = container.find("ul");
                    if (list && list.length && validator.errorList.length) {
                        list.empty();
                        container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
                       $("<li />").html("Enter any username and password.").appendTo(list);
                    }
                    $('.alert-danger', $('.loginform')).show();
                },

                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    error.insertAfter(element.closest('.input-icon'));
                },

                submitHandler: function (form) {
                    form.submit(); // form validation success, call ajax form submit
                }
            });

            $('.loginform input').keypress(function (e) {
                if (e.which == 13) {
                    if ($('.loginform').validate().form()) {
                        $('.loginform').submit(); //form validation success, call ajax form submit
                    }
                    return false;
                }
            });
        };

        $(document).ready(function () {
            $("#txtUsername").validatekey("forAlphabetEnglishAndNumber");
            $.backstretch([
                "../styles/pages/media/bg/1.jpg",
                "../styles/pages/media/bg/2.jpg",
                "../styles/pages/media/bg/3.jpg",
                "../styles/pages/media/bg/4.jpg",
                "../styles/pages/media/bg/5.jpg",
                "../styles/pages/media/bg/5.jpg"
            ]);

            $('.forget-form').hide();

            handleLogin();

            $(this).keypress(function (e) {
                if (e.which == 13) {
                    $('#form').submit();
                }
            });

            if($(".validation-summary-errors").length > 0)
            {
                $('.alert-danger', $('.loginform')).show();
                $("#UserName").closest('.form-group').addClass('has-error'); // set error class to the control group
                $("#Password").closest('.form-group').addClass('has-error'); // set error class to the control group
            }
        });

    </script>
}

