
@{
    //ViewBag.Title = "รายการหนี้ครบกำหนดชำระ";
    Layout = null;
}


    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.js"></script>

<div class="container">

    <div style="margin-top: 10px"></div>
    <div class="logo col-sm-12 text-center col-md-12 ">
    </div>
    <div class="clearfix"></div>
    <fieldset>
        <legend class="legend">รายการหนี้ครบกำหนดชำระ</legend>
        <div style="margin-top: 5px"></div>
        <div class="test" style="overflow: scroll; height: 500px; width: 1000px">
            <div style="width: 1000px">
                <div class="panel">
                    <div class="panel-body">
                        <table class="display" id="ReasonTable">
                            <thead>
                                <tr>
                                    <th>LoanID</th>
                                    <th>Seq</th>
                                    <th>DueDate</th>
                                    <th>LoanDueAmt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>0</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>LoanID</th>
                                    <th>Seq</th>
                                    <th>DueDate</th>
                                    <th>LoanDueAmt</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            /* Read Loan*/
            //debugger
            $("#LoanID").keyup(function (e) {
                //debugger
                if (event.keyCode === 13) {
                    e.preventDefault();
                    //debugger
                    getLoanDueInfo(this.value);
                }
            });

            function getLoanDueInfo(lonVal) {
                //debugger
                var lonID = lonVal;
                if (lonID != undefined && lonID != '' && lonID != null) {
                    var aData = {
                        LoanID: $("#LoanID").val(),
                        LoanID: lonID
                    };
                    //debugger
                    $('#ReasonTable').DataTable({
                        "ajax": {
                            url: '/LoanDue/GridLoadDueList/',
                            type: 'POST',
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data: JSON.stringify(aData)
                        },
                        "columns": [
                            { "data": "ReasonID" },
                            { "data": "ReasonName" }
                        ]
                    })
                }
            }
        }
    </script>
}


