@{
    ViewBag.Title = "รายการหนี้ครบกำหนดชำระ";
    Layout = "~/Views/Shared/_Layout50x.cshtml";
}
@using (Html.BeginForm("Index", "CoopControl", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div style="margin-top: 10px"></div>
        <div class="logo col-sm-12 text-center col-md-12 ">
        </div>
        <div class="clearfix"></div>
        @*<fieldset>*@
        @*<legend class="legend">รายการหนี้ครบกำหนดชำระ</legend>*@
        รายการหนี้ครบกำหนดชำระ
        <div style="margin-top: 5px"></div>
        <div class="test" style="overflow: scroll; height: 500px; width: 1000px">
            <div style="width: 1000px">
                <div class="panel">
                    <div class="panel-body">
                        <table class="display" id="LoanDueTable">
                            <thead>
                                <tr>
                                    <th>LoanID</th>
                                    <th>Seq</th>
                                    <th>DueDate</th>
                                    <th>LoanDueAmt</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>LoanID</th>
                                    <th>Seq</th>
                                    <th>DueDate</th>
                                    <th>LoanDueAmt</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*</fieldset>*@
    </div>
}
    @section StylesAndScript{
        @*<script src="~/styles/global/plugins/jquery-ui/jquery-ui.min.js"></script>
            <script src="~/styles/v50x/sweetalert2.all.js"></script>
            <script src="~/Scripts/jquery-3.2.1.min.js"></script>
            <script src="~/styles/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
            <script src="~/Scripts/CoopWeb/CoopWeb.js"></script>

            <link href="~/styles/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
            <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />*@

        @*<link href="~/Content/Site.css" rel="stylesheet" />*@
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    }
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                /* Read Loan*/
                //debugger
                $("#LoanID").keyup(function (e) {
                    //debugger
                    if (event.keyCode === 13) {
                        e.preventDefault();
                        //debugger
                        getLoanDueInfo(this.value);
                    }
                });

                function getLoanDueInfo(lonVal) {
                    //debugger
                    var lonID = lonVal;
                    if (lonID != undefined && lonID != '' && lonID != null) {
                        var aData = {
                            LoanID: $("#LoanID").val(),
                            LoanID: lonID
                        };
                        //debugger
                        $('#LoanDueTable').DataTable({
                            "ajax": {
                                url: '/LoanDue/GridLoadDueList/',
                                type: 'POST',
                                contentType: "application/json; charset=utf-8",
                                dataType: 'json',
                                data: JSON.stringify(aData)
                            },
                            "columns": [
                                { "data": "LoanID" },
                                { "data": "Seq" },
                                { "data": "DueDate" },
                                { "data": "LoanDueAmt" }
                            ]
                        })
                    }
                }
            }
        </script>
    }


